@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
  }

  body {
    scroll-behavior: smooth;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }

  .horizontol-scroller {
    max-width: 100%;
    overflow: hidden;
    /* -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
  }

  .horizontol-scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .horizontol-scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .horizontol-scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .horizontol-scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .horizontol-scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .vertical-scroller {
    flex: 1;  
    height: 100%;
    gap: 24px;  
    overflow: hidden;
    -webkit-mask: linear-gradient(
      0deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(0deg, transparent, white 20%, white 80%, transparent);
  }

  .vertical-scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    flex-direction: column;
    height: max-content;
    animation: verticalScroll var(--_animation-duration, 30s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .vertical-scroller[data-direction="down"] {
    --_animation-direction: reverse;
  }
  
  .vertical-scroller[data-direction="up"] {
    --_animation-direction: forwards;
  }
  
  .vertical-scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .vertical-scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes verticalScroll {
    to {
      transform: translateY(calc(-50% - 0.5rem));
    }
  }

  .scroll-timeline__image-opacity img, .scroll-timeline__image-opacity .image-scroll-animation{
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-end: cover 60vh;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  .highlight-text {
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-secondary, #e8e8e8);
  }

  .stack-clip-image-text {
    --clip-l: 33.333%;
    --clip-r: 33.333%;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-duration-2000 {
    animation-duration: 2s;
  }
}
